body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

/* Centrar títulos */
h1, h2 , h3, h4{
    text-align: center;
}

/* Centrar tablas */
table {
    margin: 30px auto; /* auto = centrado */
    border-collapse: collapse;
}

/* Caption alineado a la izquierda */
caption {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
}

/* Bordes y estilo general */
th, td {
    border: 1px solid #1b7acd;
    padding: 10px;
    text-align: center;
}

/* Color azul claro en cabeceras */

table:nth-of-type(1) th:nth-child(1),
table:nth-of-type(1) th:nth-child(2),
table:nth-of-type(1) th:nth-child(3),
table:nth-of-type(1) th:nth-child(4),
table:nth-of-type(1) th:nth-child(5){
    background-color: #A4C2F7;
}
table tr td:first-child {
    background-color: #A4C2F7; 
    font-weight: bold;
}
/* Color azul para las celdas*/
td {
    background-color: #C1D3F6;
}


table:nth-of-type(2) th:nth-child(1){
    background-color: #A4C2F7;
}
/* Columna de Mike (columnas 2 y 3) */
table:nth-of-type(2) td:nth-child(2),
table:nth-of-type(2) td:nth-child(3) {
    background-color: #AAD8BE ; 
}
table:nth-of-type(2) th:nth-child(2),
table:nth-of-type(2) th:nth-child(3) {
    background-color: #90C9BF;
}

table:nth-of-type(2) tr:nth-child(1) th:nth-child(2) {
    background-color: #90C9BF; 
}
 

/* Columna de Tara (columnas 4 y 5) */
table:nth-of-type(2) td:nth-child(4),
table:nth-of-type(2) td:nth-child(5){
    background-color: #C6BCBE ; 
}
table:nth-of-type(2) tr:nth-child(1) th:nth-child(3) {
    background-color: #979DAF; 
}




table:nth-of-type(2) th:nth-child(4),
table:nth-of-type(2) th:nth-child(5) {
    background-color: #979DAF ;
}